<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="menu-container">
        <h1>Добро пожаловать на викторину!</h1>
        <p>Надпись на форме, Викторина на 10 вопросов, Каждый правильный ответ 1 балл, удачи вам его пройти.</p>
        <a href="{{ url_for('authorisation') }}">
            <button class="start-btn">Начать викторину</button>
        </a>
    </div>
</body>
</html>


